## Vine Review Analysis by CStreet

Import Dependencies

In [1]:
import pandas as pd
import os

In [2]:
vine_data = os.path.join('vine_table.csv')
vine_df = pd.read_csv(vine_data)

In [3]:
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R3W4P9UBGNGH1U,2.0,1.0,3.0,N,Y
1,R15V54KBMTQWAY,4.0,0.0,0.0,N,N
2,RY8I449HNXSVF,5.0,0.0,0.0,N,Y
3,R18TLJYCKJFLSR,5.0,0.0,0.0,N,Y
4,R1NK26SWS53B8Q,5.0,0.0,0.0,N,Y

### Filter the data and create a new DataFrame or table to retrieve all the rows where the total_votes count is equal to or greater than 20 to pick reviews that are more likely to be helpful and to avoid having division by zero errors later on.

In [5]:
#filtered dataframe
vine_filtered_df = vine_df.query('total_votes >= 20')

In [6]:
vine_filtered_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
116,R2WOW0TURNXB26,3.0,54.0,59.0,N,Y
197,R13VL62Y2HBQ0B,5.0,15.0,21.0,N,Y
307,R22G55KAPZKJQV,4.0,20.0,21.0,N,Y
1012,R1610PGTJS7G3N,2.0,28.0,44.0,N,Y
2265,RLQL04BL0QXOJ,4.0,45.0,47.0,N,Y

### Filter the new DataFrame or table created in Step 1 and create a new DataFrame or table to retrieve all the rows where the number of helpful_votes divided by total_votes is equal to or greater than 50%.

In [7]:
vine_filtered_df = vine_filtered_df.query('helpful_votes/total_votes >= .50')

In [8]:
vine_filtered_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
116,R2WOW0TURNXB26,3.0,54.0,59.0,N,Y
197,R13VL62Y2HBQ0B,5.0,15.0,21.0,N,Y
307,R22G55KAPZKJQV,4.0,20.0,21.0,N,Y
1012,R1610PGTJS7G3N,2.0,28.0,44.0,N,Y
2265,RLQL04BL0QXOJ,4.0,45.0,47.0,N,Y

### Filter the DataFrame or table created in Step 2, and create a new DataFrame or table that retrieves all the rows where a review was written as part of the Vine program (paid), vine == 'Y'.

In [11]:
vine_filtered_df.dtypes

review_id             object
star_rating          float64
helpful_votes        float64
total_votes          float64
vine                  object
verified_purchase     object
dtype: object

In [18]:
vine_paid_df = vine_filtered_df[vine_filtered_df["vine"] == "Y"]

In [20]:
vine_paid_df.tail(15)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
8819452,R1GPYXSB76U4QF,3.0,251.0,266.0,Y,N
8819520,R1S5PEW9FYV4Y7,5.0,56.0,57.0,Y,N
8819534,RLIMMC9RD6G6O,5.0,415.0,423.0,Y,N
8819775,RVKT49SXK12LV,5.0,377.0,387.0,Y,N
8847570,R1T2GB0YIQ90YH,3.0,85.0,94.0,Y,N
8880631,R28IX4P4PWVELW,5.0,42.0,47.0,Y,N
8883288,RHCQE4GXO2USK,3.0,13.0,23.0,Y,N
8885056,R2U3KAROWWVDDG,4.0,26.0,26.0,Y,N
8885687,R1M4QZ4UUNG55D,5.0,141.0,155.0,Y,Y
8887121,R2HFFG2O78SOC4,4.0,269.0,274.0,Y,N
8887352,R1S2HIHNB0FJC0,2.0,180.0,196.0,Y,N
8887434,R3ADVLGTBP0TNX,4.0,36.0,43.0,Y,N
8910450,R9OB51UW8R4EW,3.0,13.0,23.0,Y,N
8912079,R3OT72XT5WKCYN,5.0,27.0,40.0,Y,N
8912399,R2Y9JUXDM65FZW,2.0,17.0,30.0,Y,N

### Retrieve all the rows where the review was not part of the Vine program (unpaid)

In [21]:
vine_notPaid_df = vine_filtered_df[vine_filtered_df["vine"] == "N"]

In [22]:
vine_notPaid_df.head(15)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
116,R2WOW0TURNXB26,3.0,54.0,59.0,N,Y
197,R13VL62Y2HBQ0B,5.0,15.0,21.0,N,Y
307,R22G55KAPZKJQV,4.0,20.0,21.0,N,Y
1012,R1610PGTJS7G3N,2.0,28.0,44.0,N,Y
2265,RLQL04BL0QXOJ,4.0,45.0,47.0,N,Y
2731,R2AYJHH8WJNGAU,4.0,98.0,104.0,N,Y
3007,R111DJA10Y6CMU,5.0,26.0,39.0,N,Y
3164,R2EE2TR4MRDV0U,5.0,53.0,59.0,N,Y
3368,RD4A80I5JDHED,5.0,69.0,77.0,N,N
3376,R1GU6IYZQWQE8X,2.0,24.0,25.0,N,Y
3706,RZOPM62JMW97V,2.0,103.0,108.0,N,Y
5049,R1D3NR5GREEXXJ,5.0,57.0,58.0,N,Y
5162,R24BMEHX5EWGEY,2.0,26.0,30.0,N,Y
5185,R2WYKBQS8OR08O,5.0,168.0,176.0,N,Y
5777,R3DL0Y1KWYLD5X,5.0,36.0,37.0,N,Y

### The total number of reviews, the number of 5-star reviews, and the percentage of 5-star reviews for the two types of review (paid vs unpaid)

## PAID

In [29]:
#The total number of paid reviews
total_paid = len(vine_paid_df)
total_paid

613

### There are 613, total paid reviews.

In [23]:
five_paid_df = vine_paid_df[vine_paid_df['star_rating'] == 5]
five_paid_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
23444,R6V9SHMMG5M8F,5.0,101.0,110.0,Y,N
193753,R3SRW1E8J56IGV,5.0,262.0,281.0,Y,N
229126,R2WBPX441TH495,5.0,202.0,221.0,Y,N
238470,R2BYBSYHS66ZN8,5.0,109.0,114.0,Y,N
261805,R2IXC6U7W4OCQ9,5.0,185.0,201.0,Y,N

In [31]:
total_five_star = len(five_paid_df)
total_five_star

222

### There are 222, 5-star paid reviews.

In [41]:
# percentage of paid 5-star reviews

percent_5_star = total_five_star/total_paid
percent_5_star

0.3621533442088091

### 36% of the paid reviews are 5-star ratings

## Unpaid

In [35]:
total_unpaid = len(vine_notPaid_df)
total_unpaid

64968

### There are 64,968, total unpaid reviews.

In [36]:
five_unpaid_df = vine_notPaid_df[vine_notPaid_df['star_rating'] == 5]
five_unpaid_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
197,R13VL62Y2HBQ0B,5.0,15.0,21.0,N,Y
3007,R111DJA10Y6CMU,5.0,26.0,39.0,N,Y
3164,R2EE2TR4MRDV0U,5.0,53.0,59.0,N,Y
3368,RD4A80I5JDHED,5.0,69.0,77.0,N,N
5049,R1D3NR5GREEXXJ,5.0,57.0,58.0,N,Y

In [38]:
total_five_star_unpaid = len(five_unpaid_df)
total_five_star_unpaid

30543

### There are 30,543, 5-star reviews that are unpaid.

In [39]:
percent_5_star_unpaid = (total_five_star_unpaid /total_unpaid)
percent_5_star_unpaid

0.47012375323236055

### 47% of the unpaid reviews are 5-star ratings